body {
  background-color: #FFFFFF;
  height: auto;
  font-family: "Roboto"; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
 * Author's custom styles
 * ========================================================================== */
/* ==========================================================================
 * Media Queries
 * ========================================================================== */
/* ==========================================================================
 * Helper classes
 * ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    display: table; }
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }

/* ==========================================================================
 * Print styles
 * ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
    *:before, *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
.titulo {
  font-size: 22px;
  color: #002157;
  text-align: left; }

.bloque1 {
  background: #f6f6f8;
  color: #8a8a8c;
  outline: solid 1px #d2d2d4; }
  .bloque1 .subtitulo {
    color: #8a8a8c;
    font-size: 18px;
    height: 20px;
    line-height: 10px;
    text-align: left;
    width: 100%; }
  .bloque1 ul {
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 0; }
  .bloque1 li {
    height: 25px;
    line-height: 25px; }
  .bloque1 .bloque1-blanco {
    background: #FFFFFF !important;
    outline: solid 1px #d2d2d4;
    height: 145px;
    margin: 15px 0px;
    font-size: 14px;
    padding: 30px 10px; }
    .bloque1 .bloque1-blanco p {
      text-align: left;
      font-size: 12px;
      margin: 5px 0px; }
    .bloque1 .bloque1-blanco h5 {
      text-align: right;
      font-size: 12px;
      font-weight: 400; }

.bloque2 {
  background: #f6f6f8;
  color: #8a8a8c;
  height: 50px;
  margin: 30px 0px 0px 0px; }
  .bloque2 button {
    margin: 8px 0px; }
  .bloque2 .subtitulo {
    color: #3d3d3d;
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin: 0px;
    padding: 15px 0px;
    position: relative; }

.bloque3 {
  background: #f1f1f3;
  color: #8a8a8c;
  margin: 0px 0px;
  padding: 20px 0px; }

.bloque4 {
  margin: 30px 0px 0px 0px;
  font-size: 12px;
  padding: 0; }
  .bloque4 table {
    padding: 0;
    margin: 0; }
    .bloque4 table thead {
      background: #f6f6f6; }

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-default .navbar-toggle {
    border-color: #002157 !important; }

  .navbar-nav {
    display: none !important; }

  .navbar-toggle {
    display: block !important; }

  .bloque-1-blanco-monto {
    display: none; } }
@media (min-width: 320px) and (max-width: 767px) {
  .navbar-nav {
    display: none !important; }

  .navbar-toggle {
    display: block !important; }

  .bloque-1-blanco-monto {
    display: none; }

  .navbar-default .navbar-toggle {
    border-color: #002157 !important; } }
header {
  background: #002157;
  color: #fff;
  height: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto"; }
  header .navbar-default .navbar-nav > li > a {
    color: #fff !important; }
  header .navbar-default {
    background: #002157;
    border-radius: 0;
    border: none;
    color: #fff;
    font-family: "Roboto"; }
  header img {
    display: inline-block;
    line-height: 50%;
    margin-top: 25px;
    text-align: center;
    vertical-align: middle;
    width: 80%; }
  header a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 10px; }
    header a:hover {
      color: #FFFFFF;
      opacity: 0.8;
      text-decoration: none !important; }

/*# sourceMappingURL=main.css.map */
